VITE_APPWRITE_URL="https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a04a78c00188d655eba"
VITE_APPWRITE_DATABASE_ID="6a04aef600027baf97ed"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="6a04b4d7002babf784e3"

